.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #eebc17;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

.home-page .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top : 100px;
}

.home-page table, .home-page th, .home-page td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

.home-page .radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-page .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-page .flex-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home-page .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.home-page .card {
  width: 20%;
  height: 20%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  text-align: left;
}

.home-page .flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.about-page body, .about-page html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.about-page .container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
}

.about-page .background {
  grid-row: 1 / 6;
  grid-column: 1 / 6;
  background-color: #eebc17;
  z-index: 1;
}

.about-page .card {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row: 2 / 5;
  grid-column: 2 / 5;
  z-index: 2;
  gap: 0.1em;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.about-page .card-background {
  grid-row: 1 / 8;
  grid-column: 1 / 8;
  background-color: #e0e0e0;
  border-radius: 20px;
}

.about-page .profile-picture {
  grid-row: 2 / 4;
  grid-column: 2 / 5;
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 2em;
}

.about-page .contact-info {
  grid-row: 4 / 7;
  grid-column: 2 / 5;
  justify-content: right;
  gap: 2em
}

.about-page .skills {
  grid-row: 2 / 7;
  grid-column: 5 / 7;
  gap: 2em;
}

.about-page .flex-column {
  display: flex;
  flex-direction: column;
}

.about-page h2 {
  font-size: x-large;
}

.counter-page body, .counter-page html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.counter-page .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter-page .text-center {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.counter-page .flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.counter-page .flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}